<div class="pagedetail">
  <div class="container-fluid">
    <div historyBack class="col-xs-4">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="col-xs-4 text-center">
      <strong>WLAN</strong>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="net-intr">
    <div class="intr-left">
      <div class="col-xs-6">
        <div>WLAN</div>
        <div>已经连接到<span>801</span></div>
      </div>
      <div class="col-xs-6 text-right intr-right">
        <span class="glyphicon glyphicon-cd"></span>
      </div>
    </div>
    <p>手动搜索</p>
  </div>
  <div class="select">选取网络</div>
  <div class="net-wrap">
    <ul class="net-list list-unstyled">
      <li>
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-ok"></span>
          </div>
          <span>801</span>
        </div>
        <div class="col-xs-6 text-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </li>
      <li>
        <div class="col-xs-6 left">
          <div>
            <span></span>
          </div>
          <span>801</span>
        </div>
        <div class="col-xs-6 text-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </li>
      <li>
        <div class="col-xs-6 left">
          <div>
            <span></span>
          </div>
          <span>801</span>
        </div>
        <div class="col-xs-6 text-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </li>
      <li>
        <div class="col-xs-6 left">
          <div>
            <span></span>
          </div>
          <span>801</span>
        </div>
        <div class="col-xs-6 text-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </li>
      <li>
        <div class="col-xs-6 left">
          <div>
            <span></span>
          </div>
          <span>801</span>
        </div>
        <div class="col-xs-6 text-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </li>
      <li>
        <div class="col-xs-6 left">
          <div>
            <span></span>
          </div>
          <span>801</span>
        </div>
        <div class="col-xs-6 text-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </li>
      <li class="last">
        <span>添加网络</span>
      </li>
    </ul>
  </div>
  <div class="tolink">
    <strong>WPS按钮连接</strong>
  </div>
</div>