<div class="content">
  <div class="header">
    <div class="header-bg"></div>
    <div class="search-wrap">
      <div class="search"><span class="glyphicon glyphicon-search"></span> 搜索职位/公司/商区</div>
      <div class="sao"><span class="glyphicon glyphicon-barcode"></span></div>
    </div>
  </div>
  <div class="slider-box">

  </div>
  <div class="nav text-center">
    <div class="item">
      <div><span class="glyphicon glyphicon-book"></span></div>
      <div class="intr">日常任务</div>
    </div>
    <div class="item">
      <div><span class="glyphicon glyphicon-book"></span></div>
      <div class="intr">日常任务</div>
    </div>
    <div class="item">
      <div><span class="glyphicon glyphicon-book"></span></div>
      <div class="intr">日常任务</div>
    </div>
    <div class="item">
      <div><span class="glyphicon glyphicon-book"></span></div>
      <div class="intr">日常任务</div>
    </div>
  </div>
  <div class="job">
    <h3 class="job-well">为你推荐好职位</h3>
  </div>

</div>
<div class="footer text-center">
  <div class="col-xs-3">
    <div>
      <div><span class="glyphicon glyphicon-home"></span></div>
      <div class="text-center">首页</div>
    </div>
  </div>
  <div class="col-xs-3">
    <div>
      <div><span class="glyphicon glyphicon-envelope"></span></div>
      <div class="text-center">消息</div>
    </div>
  </div>
  <div class="col-xs-3">
    <div>
      <div><span class="glyphicon glyphicon-list-alt"></span></div>
      <div class="text-center">言职</div>
    </div>
  </div>
  <div class="col-xd-3">
    <div>
      <div><span class="glyphicon glyphicon-heart-empty"></span></div>
      <div class="text-center">我</div>
    </div>
  </div>
</div>