<div>
  <div class="search-bar">
    <input type="search" class="form-control text-center"  placeholder="设置">
  </div>
  <div class="list-wrap">
    <ul class="list-unstyled container-fluid">
      <li class="row">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-plane"></span>
          </div>
          <strong>离线模式</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-volume-off"></span>
          </div>
        </div>
      </li>
      <li class="row" routerLink="../details">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-eye-open"></span>
          </div>
          <strong>无线局域网</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span>801a</span>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
      <li class="row" routerLink="../login">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-question-sign"></span>
          </div>
          <strong>个人热点</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
      <li class="row last">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-globe"></span>
          </div>
          <strong>移动网络</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="list-wrap">
    <ul class="list-unstyled container-fluid">
      <li class="row">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-volume-up"></span>
          </div>
          <strong>声音</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-asterisk"></span>
          </div>
          <strong>亮度</strong>
        </div>
        <div class="col-xs-6 text-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      </li>
      <li class="row last">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-tag"></span>
          </div>
          <strong>壁纸和字体</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="list-wrap">
    <ul class="list-unstyled container-fluid">
      <li class="row">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-upload"></span>
          </div>
          <strong>系统升级</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-earphone"></span>
          </div>
          <strong>电话</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-cloud"></span>
          </div>
          <strong>账户与同步</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-time"></span>
          </div>
          <strong>定时任务</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
      <li class="row last">
        <div class="col-xs-6 left">
          <div>
            <span class="glyphicon glyphicon-wrench"></span>
          </div>
          <strong>更多设置</strong>
        </div>
        <div class="col-xs-6 text-right">
          <div>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
