<div class="bg">
  <div class="container-fluid">
    <div class="togo" routerLink="../main"><a href="javascript:;">随便逛逛 <span class="glyphicon glyphicon-chevron-right"></span></a></div>
    <div class="logo-wrap">
      <div class="logo"></div>
      <div>
        <h3>拉勾</h3>
        <div>lagou.com</div>
      </div>
    </div>
    <div>
      <div class="login-msg">
        <div class="left"><span class="glyphicon glyphicon-user"></span></div>
        <div class="right"><input type="text" placeholder="请输入已验证的手机号或邮箱"></div>
      </div>
      <div class="login-msg">
        <div class="left"><span class="glyphicon glyphicon-lock"></span></div>
        <div class="right"><input type="password" placeholder="请输入密码"></div>
      </div>
    </div>
    <div class="find-psw">
      <a href="javascript:;"><span class="glyphicon glyphicon-question-sign"></span> 忘记密码</a>
    </div>
    <div class="login-btn"><button type="button">登 录</button></div>
    <div class="more-btn"><button type="button">快速注册，发现职场新机会</button></div>
  </div>
</div>